<app-header></app-header>

<section class="bg-gray-50 dark:bg-gray-700 p-3 sm:p-5 antialiased min-h-screen">
  <div class="mx-auto px-4 lg:px-12">
    <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
      <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
        <div class="w-full md:w-1/2">
          <form class="flex items-center">
            <label for="simple-search" class="sr-only">Search</label>
            <div class="relative w-full">
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                  viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              <input [(ngModel)]="searchTerm" (ngModelChange)="filterTasks(searchTerm)"
                [ngModelOptions]="{standalone: true}" type="text" id="simple-search"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="Search by title">
            </div>
          </form>
        </div>
        <div
          class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
          <app-button [id]="'addTask'" [label]="'Add task'" [type]="'button'" [disabled]="false"
            [context]="'task-create'" (onClick)="createTask()">
          </app-button>
        </div>
      </div>

      <div *ngIf="originalTasks" class="bg-gray-50 py-8 antialiased dark:bg-gray-900 md:py-12">
        <div class="mx-4 px-6 2xl:px-0">
          <div *ngIf="originalTasks.length > 0"
            class="mb-4 grid gap-4 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 xl:grid-cols-4">
            <div *ngFor="let task of filteredTasks; trackBy: trackById">
              <app-task-card [task]="task"></app-task-card>
            </div>
          </div>
        </div>

        <div *ngIf="filteredTasks.length == 0 && searchTerm" class="mx-4 px-6 2xl:px-0 text-center">
          <div class="mb-4">
            <p class="text-white text-xl font-bold">Search without results.</p>
          </div>
        </div>

        <div *ngIf="originalTasks.length == 0" class="mx-4 px-6 2xl:px-0 text-center">
          <div class="mb-4">
            <p class="text-white text-xl font-bold">Ready to create a task?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>